<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">{{ title }}</h1>
  <hr class="my-4" />
  <p class="text-center">
    <img
      class="img-fluid"
      src="{{ imgGhibli }}"
      alt="Imagen de Studios Ghibli"
    />
  </p>
  <p class="lead">
    This application has been developed for educational purposes. <br />
    The students of <b>CFGS of Web Application Development (DAW)</b> will use
    these contents and develop similar applications in the subject of
    <b>Web Development in Client Environment</b>. <br />
  </p>
  <hr class="my-4" />
  <p>
    With this application you will be able to obtain information regarding
    <b>films, people, places, things</b>... from the Ghibli worlds, you will also
    be able to see the youtube videos related to the content you are looking
    for, you will even be able to comment on these videos and add them to videos
    that you like.
  </p>
  <hr class="my-4" />
  <p>
    The students will learn, through the step-by-step development of this
    application, technologies such as:
    <a href="https://angular.io/" targer="_blank">Angular 11</a>,
    <a href="https://getbootstrap.com/" targer="_blank">Bootstrap 5</a>,
    consumption of Rest API such as
    <a href="https://ghibliapi.herokuapp.com/" targer="_blank">Ghibli API</a>,
    <a href="https://developers.google.com/youtube/v3" targer="_blank"
      >Youtube Data API</a
    >...
  </p>
</div>
